@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

html, body {
  background: #e7e5e4;
  margin: 0;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  background: #dfe7e0;
  font: inherit;
}

.h-9 {
    height: auto;
    width: 100% !important;
}
/*Versión movil*/
@media (max-width: 1023px) {
  /*texto de ubicación*/
  .mt-0\.5.flex.items-center.gap-1.text-\[11px\].text-stone-500.lg\:text-\[13px\] {
    text-align: center !important;
    margin: 0 12%;
}
  /* boton como llegar test*/
  a.flex.items-center.justify-center.gap-1\.5.rounded-xl.bg-stone-900.py-3.text-\[13px\].font-semibold.text-white.lg\:text-\[14px\] {
    padding: 14px 18px;
    color: #ffffff;
}
  /* Fix del Grid */
    .grid {
        display: flex;
        padding: 10px 30px;
        flex-direction: column;
    }
  /*Boton de usar ubicación*/
  button.mt-2.inline-flex.items-center.gap-1.text-\[11px\].font-semibold.text-sky-700.disabled\:text-stone-400.lg\:text-\[12\.5px\] {
    font-size: 12px !important;
    margin: 8px 25%;
    padding: 10px 20px;
    border: solid 1px #1998d8;
    border-radius: 20px;
}
  .flex.items-center.gap-2.lg\:flex-col.lg\:items-end.lg\:gap-3 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  /*Boton añadir*/
  a.inline-flex.items-center.gap-1.rounded-full.bg-emerald-50.px-3.py-1\.5.text-\[12px\].font-semibold.text-emerald-700.lg\:px-4.lg\:py-2.lg\:text-\[13px\] {
    font-size: 20px !important;
    font-weight: bold;
    background-color: #32aedd;
    color: #FFFFFF;
  }
  /*Boton contacto*/
  a.inline-flex.items-center.gap-1.rounded-full.bg-stone-100.px-3.py-1\.5.text-\[12px\].font-semibold.text-stone-600.lg\:px-4.lg\:py-2.lg\:text-\[13px\] {
    font-size: 20px !important;
    font-weight: bold;
    background-color: #878787c4;
    color: #ffffff;
  }
}
/*Versión escritorio*/
@media (min-width: 1024px) {
    .lg\:h-11 {
        height: auto !important;
        width: 500px !important;
        max-width: 500px !important;
    }
    a.inline-flex.items-center.gap-1.rounded-full.bg-emerald-50.px-3.py-1\.5.text-\[12px\].font-semibold.text-emerald-700.lg\:px-4.lg\:py-2.lg\:text-\[13px\] {
        font-size: 20px !important;
        font-weight: bold;
        background-color: #cfffd7;
    }
  button.mt-2.inline-flex.items-center.gap-1.text-\[11px\].font-semibold.text-sky-700.disabled\:text-stone-400.lg\:text-\[12\.5px\] {
    padding: 10px 20px;
    border: solid 1px #26859f;
    border-radius: 20px;
    margin: 20px 0px;
}
}

/* ocultar scrollbars de las tiras de filtros */
.no-sb::-webkit-scrollbar { display: none; }
.no-sb { scrollbar-width: none; }
